/* =================== FONTS =================== */
@font-face {
    font-family: Roboto-Black;
    src: url('../fonts/ROBOTO-BLACK.TTF');
  }
  @font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/ROBOTO-BOLD.TTF');
  }
  @font-face {
    font-family: Roboto-Light;
    src: url('../fonts/ROBOTO-LIGHT.TTF');
  }
  @font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/ROBOTO-MEDIUM.TTF');
  }
  @font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/ROBOTO-REGULAR.TTF');
  }
  /* ============== GENERAL ============== */
  body{
    font-family: 'Roboto-Regular';
    color: #626262;
  }
  a{
    text-decoration: none;
    line-height: 1;
    display: inline-block;
    color: #626262;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  a:hover{
    color: #e87528;
    text-decoration: none;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
p{
  margin: 0px;
}
/* ============== HEADER ============== */
.header{
  transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
}
.container-header{
  padding: 15px 0;
  display: inline-block;
  width: 100%;
  font-family: "Roboto-Medium";
  transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
}
.container-header .logo{
  float: left;
}
.logo:hover img {
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
}
.logo img{
  width: 100%;
  max-width: 231px;
  transition: 0.5s all ease-in-out;
}
/* -------- TOPBAR -------- */
.topbar,
.main-menu{
  display: inline-block;
  width: 100%;
}
.topbar{
  margin-bottom: 40px;
}
.languages{
  float: right;
  line-height: 1;
  padding-right: 10px;
}
.languages li{
  display: inline-block;
  padding: 0px 5px;
  line-height: 1;
}
/* -------- MENU -------- */
.wrap_menu{
  float: left;
  padding: 0px;
}
.menu{
  padding-right: 0px;
}
.menu,
.menu-cart{
  float: left;
}
.menu ul{
  text-align: center;
}
.menu li{
  display: inline-block;
  padding: 10px 2%;
}
.menu li a{
  text-transform: uppercase;
  font-size: 15px;
}
.menu-cart ul{
  float: right;
}
.menu-cart ul li{
  display: inline-block;
  line-height: 1;
  padding: 14px 5px;
}
.menu-cart ul li:last-child{
  padding-right: 0px;
}
.menu-cart span{
  margin-left: 5px;
  font-family: 'Roboto-Regular';
  font-size: 14px;
}
/* -------- Fixed Header -------- */
  .fixed-header-remove{
    position: relative;
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
  }
  .fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    opacity: 1;
    background: #fff;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
  }
  .fixed-header .wrap_menu {
    padding-top: 20px;
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
  }
  .fixed-header .topbar{
    display: none;
  }
  .fixed-header .logo a {
    margin: 0 auto;
  }
  .fixed-header .logo img {
    max-width: 140px;
  }
/* ============== Body Sections ============== */
  .categories-menu,
  .body-sections,
  .slider1,
  .banners{
    float: left;
  }
  .body-sections{
    padding: 0px;
  }
  .container-sidebar,
  .body-sections > div,
  .banners div a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }
  .banners a:hover img{
    transform: scale(1.1);
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
  }
  .banner1{
    margin-bottom: 30px;
  }
  .banners div a img {
    width: 100%;
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
  }
  .banner-solo a {
    width: 100%;
    overflow: hidden;
  }
  .banner-solo a:hover img{
    transform: scale(1.1);
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
  }
  .banner-solo a img {
    width: 100%;
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
  }
/* ============== Features ============== */
.features{
  display: inline-block;
  width: 100%;
}
.features > div{
  float: left;
}
.features > div img{
  width: 100%;
}
/* -------- NEWSLETTER -------- */
.newsletter > div{
  background: #533567;
}
.newsletter h4{
  font-size: 24px;
  font-family: 'Roboto-Black';
  line-height: 1.2;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.newsletter p{
  font-size: 15px;
  font-family: 'Roboto-Regular';
  line-height: 1.2;
  margin-bottom: 10px;
  color: #fff;
}
.newsletter form input{
  overflow: hidden;
  border: none;
  padding: 15px 25px;
  font-size: 15px;
  margin-bottom: 5px;
  outline: none;
  width: 100%;
}
.newsletter form input::placeholder{
  color: #adadad;
}
.newsletter form button{
  border: none;
  background: #e87528;
  color: #fff;
  font-size: 15px;
  font-family: 'Roboto-Bold';
  padding: 15px 20px;
  float: right;
  cursor:pointer;
  outline:none;
  transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.newsletter form button:hover{
  background: #f49250;
}
.feature-1{
  padding: 12% 30px;
  max-height:305px;
}
.feature-1 > div{
  width: 100%;
}
.feature-2{
  background: #e87528;
}
.feature-3{
  background: #09a241;
}
/* ============== Footer ============== */
footer h4{
  font-size: 16px;
  color: #515151;
  line-height: 1.2;
}
footer li{
  font-family: 'Roboto-Light';
  font-size: 14px;
}
.footer-links > div {
  float: left;
}
footer .links > div {
  padding-top: 25%;
}
/* ============== SLICK ============== */
/* -------- Slider1 -------- */
.wrap-slick1{
  position: relative;
}
.wrap-content-slide1 > img{
  width: 100%;
}
.prev-slick1.slick-arrow,
.next-slick1.slick-arrow {
  position: absolute;
  z-index: 99;
  top: 50%;
  width: 32px;
  height: 32px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 20px;
}
.prev-slick1.slick-arrow:hover,
.next-slick1.slick-arrow:hover{
  background: #e87528;
  color: #fff;
  cursor: pointer;
}
.prev-slick1.slick-arrow{ left: 0px; }
.next-slick1.slick-arrow{ right: 0px; }

/* -------- Slider2 -------- */
.wrap-slick2{
  position: relative;
}
.item-slick2{
  outline: none;
  transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.item-slick2:hover{
  transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  cursor: pointer;
}
.item-slick2:hover .product h3 a {
  color: #e87528;
}
.item-slick2:hover .product-image img {
  transform: scale(1.1);
  transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.slider2-title{
  border-bottom: 1px solid #e87528;
}
.slider2-title h2 {
  font-size: 16px;
  font-family: 'Roboto-Medium';
  text-transform: uppercase;
  color: #fff;
  background: #e87528;
  display: inline-block;
  padding: 20px 30px;
  margin: 0;
  line-height: 1.2;
}
.prev-slick2.slick-arrow,
.next-slick2.slick-arrow{
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: #c2c2c2;
    position: absolute;
    top: 25px;
    line-height: 1;
    cursor: pointer;
}
.prev-slick2.slick-arrow:hover,
.next-slick2.slick-arrow:hover{
  color: #e87528;
}
.prev-slick2.slick-arrow{right: 30px;}
.next-slick2.slick-arrow{right: 0px;}

/* -------- Slider3 -------- */
.wrap-slick3{
  position: relative;
}
.prev-slick3.slick-arrow,
.next-slick3.slick-arrow{
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: #c2c2c2;
    position: absolute;
    top: 25px;
    line-height: 1;
    cursor: pointer;
}
.prev-slick3.slick-arrow:hover,
.next-slick3.slick-arrow:hover{
  color: #e87528;
}
.prev-slick3.slick-arrow{right: 30px;}
.next-slick3.slick-arrow{right: 0px;}

/* ============== PRODUCt ============== */
.product{
  text-align: center;
  border: 1px solid #e5e5e5;
  padding: 25px;
  margin: 0 5px;
  height: 300px;
}
.product .product-image{
  min-height: 140px;
}
.product .product-image a{
  outline: none;
}
.product .product-image img{
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  max-height: 140px;
  transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.product h3{
  font-size: 14px;
  font-family: 'Roboto-regular';
  margin-bottom: 10px;
  line-height: 1.2;
}
.product p{
  font-family: 'Roboto-Bold';
  font-size: 16px;
  text-transform: uppercase;
  color: #e87528;
  line-height: 1.2;
  margin-bottom: 20px;
}
.product .product-user-features li {
  display: inline-block;
  width: 30%;
  font-size: 20px;
  line-height: 1;
  border-right: 1px solid #c1c1c1;
}
.product .product-user-features li:last-child {
  border: none;
}
.product-user-features li a{
  transition: 0.5s all;
}
.product-user-features li a:hover{
  transform: scale(1.3);
  transition: 0.5s all;
}
/* ============== SELECT2 ============== */
.rs2-select2 {
  float: left;
}
.select2-container .select2-selection--single {
  height: 40px;
  outline: none;
  border-color: #e5e5e5;
  border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #616161;
  line-height: 40px;
  padding-left: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 30px;
  height: 38px;
}
/* ============== Search ============== */
.sort-search .search-bar{
  float: left;
  width: calc(100% - 157px);
  position: relative;
}
.sort-search input.search {
  border: 1px solid #e5e5e5;
  height: 40px;
  padding-left: 20px;
  padding-right: 50px;
  width: 100%;
  color: #616161;
  outline:none;
}
.sort-search .search-ico {
  position: absolute;
  top: 10px;
  color: #616161;
  right: 20px;
  cursor: pointer;
}
.sort-search .search-ico:hover{
  color: #e87528
}
/* ============== Categories Menu ============== */
aside li {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #616161;
  padding: 18px 30px;
  border-bottom: 1px solid #fff;
  background: #f2f2f2;
  cursor: pointer;
}
aside li:first-child{
  font-family: 'Roboto-Bold';
  color: #fff;
  background: #e87528;
  cursor: pointer;
  border: none;
}
aside li:first-child a{
  color: #fff;
}
aside li:hover:not(:first-child){
  background: #e5e5e5;
}
/* -------- Mobile Menu Icon -------- */
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
  background-color: #e87528;
}
.btn-show-menu {
  float: left;
  margin-right: 20px;
  transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
}

/* -------- Mobile Menu -------- */
.wrap-side-menu{
  max-width: 260px;
  overflow: hidden;
  z-index: 1001;
  bottom: 0;
  outline: 0;
  backface-visibility: hidden;
  bottom: 0;
  background: #e87528;
}
.off-canvas-wrapper{
  width: 100%;
  overflow-x: hidden;
  position: relative;
  backface-visibility: hidden;
}
.is-open-left {
  transform: translateX(250px);
}
.js-off-canvas-exit {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: .5s ease;
  background: #000;
  opacity: 0.5;
  z-index: 999;
}
.is-visible{
  display: block !important;
}
.off-canvas.position-left {
  left: -250px;
  top: 0;
  width: 250px;
}
.off-canvas-wrapper-inner {
  transition: transform .5s ease;
  min-height: 100%;
  position: relative;
  width: 100%;
}
.off-canvas{
  position: absolute;
  max-height: 100%;
  transform: translateX(0);
  box-sizing: content-box;
}
.item-menu-mobile a{
  font-family: 'Roboto-Bold';
  font-size: 16px;
  color: #fff;
  padding: 18px 30px;
  background: #e87528;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.item-menu-mobile a:hover{
  background: #f49250;
}
.mobile-categories-menu li a{
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #616161;
  padding: 18px 40px;
  background: #f2f2f2;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.mobile-categories-menu li a:hover{
  background: #e4e4e4;
}
.is-active{
  background: #e4e4e4 !important;
}
.active{
    transition: all 0.5s;
    transform: scale(0.8);
    border: 1px solid #616161;
    padding: 1px 3px 3px;
}
/* ============== MEDIA ============== */
@media (max-width: 1050px){
  .menu li{
    padding: 10px 1.5%;
  }
}
@media (min-width: 992px){
  .feature-1,
  .feature-2,
  .feature-3{
    padding: 12% 30px;
    max-height:305px;
    min-height: 290px;
  }
  .btn-show-menu{
    display: none;
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
  }
}
@media (max-width:992px){
  .menu,
  .categories-menu,
  .topbar{
    display: none;
  }
  .logo > a{
    margin: 0 auto 0 40%;
    max-width: 200px;
  }
  .btn-show-menu{
    position: absolute;
    top: 0;
    margin: 0;
    left: 0;
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
  }
  .fixed-header .btn-show-menu{
    top: 10;
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
  }
  .feature-1{
    margin-bottom: 20px;
  }
  footer .links > div{
    padding-top: 50%;
  }
}
@media (min-width: 768px){
  .banners > div{
    padding: 0px;
  }
  footer h4{
    min-height: 40px;
    }
}
@media (max-width: 768px) {
  .slider1{
    margin-bottom: 20px;
  }
  .banners > div{
    float: left;
  }
  .feature-2,
  .feature-3{
    margin-bottom: 20px;
  }
  .rs2-select2{
    display: none;
  }
  .sort-search .search-bar{
    width:100%;
  }
  .footer-main{
    text-align: center;
    margin-bottom: 40px;
  }
  .footer-main .partners img{
    margin: 0 auto;
  }
  .footer-links .links{
    min-height: 180px;
    margin-bottom: 10px;
  }
  .footer-links .links > div{
    padding-top: 0px;
  }
}
@media (min-width:575px) and (max-width:769px){
  .banner1{
    margin-bottom: 0px;
    padding-left: 0px;
  }
  .banner2{
    padding-right: 0px;
  }
}
@media (max-width: 576px) {
  .container-header .logo{
    text-align: center;
  }
  .container-header .wrap_menu{
    position: absolute;
    right: 0;
    width: auto;
  }
  .menu-cart li{
    font-size: 20px;
  }
  .cart-price{
    display: none;
  }
  .fixed-header .wrap_menu{padding-top: 10px;}
  .logo > a{
    margin: 0 auto;
    max-width: 130px;
  }
  .logo img,
  .fixed-header .logo img{
    max-width: 110px;
  }
  .banners > div{
    padding: 0px;
  }
  .footer-links .links{
    margin-bottom: 20px;
    max-width: 50%;
    min-height: 200px;
  }
  .container-header{
    position: relative;
  }
  .fixed-header.container-header{
    position: fixed;
  }
}
@media (max-width: 400px) {
  .logo > a{
    margin: 0 80px 0 70px;
  }
}